.table-results{
    margin-top: 100px;
}
.arrowBackIcon{
    position: absolute;
    z-index: 1;
    color: #fafafa;
    margin-top: 7px;
}
.back_list_button{
    background-color: #4141e2;
    border: 1px solid #0395f6;
    border-radius: 5px;
    font-size: 20px;
    color: #fafafa;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 5px 15px 7px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.Title-results h2{
    text-align: center;
    font-size: 30px;
}