.page_failure{
    display: flex;
}
.pageCenter{
    margin-left: auto;
    margin-right: auto;
}
.iconError{
    color: red;
    margin-right: 20px;
}
.NotificationTitle_fail{
    color: red;
    font-size: 60px;
    margin-top: 6px;
}